{%- capture general_title -%}
{%- if page.title -%}{{ page.title }} | {{ site.author }}{%- else -%}{{ site.author }} | {{ site.title }}{%- endif -%}
{%- endcapture -%}
{%- capture general_description -%}
{%- if page.description -%}{{ page.description }}{%- else -%}{{ site.description }}{%- endif -%}
{%- endcapture -%}
{%- capture network_title -%}
{%- if page.title -%}{{ page.title }}{%- else -%}{{ site.title }}{%- endif -%}
{%- endcapture -%}
<head>
  <meta charset="UTF-8">
  <title>{{ general_title }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ general_description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- if page.layout == "home" -%}
  <meta name="google-site-verification" content="{{ site.google_check }}">
  {%- endif -%}
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:site" content="@{{ site.twitter_username }}">
  <meta property="og:image" content="{{ '/assets/images/banner-ufo.jpg' | absolute_url }}">
  <meta property="og:site_name" content="{{ site.author }} : {{ site.title }}">
  <meta property="og:title" content="{{ network_title }}">
  <meta property="og:description" content="{{ general_description }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  {% if page.date -%}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% endif -%}
  <link rel="alternate" type="application/atom+xml" title="Ludovic de Luna | Feed" href="{{ 'feed.xml' | absolute_url }}" />
  {% if page.layout != "home" -%}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif -%}
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/assets/css/main.css' | absolute_url }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/screen.css' | absolute_url }}">
  <link rel="stylesheet" type="text/css" media="print" href="{{ '/assets/css/print.css' | absolute_url }}">
  <link rel="icon" href="{{ site.url }}/favicon.ico" />
</head>
