<!-- STARRY EYED STEVEN UNIVERSE processed by www.ascii-art-generator.org
     I decided to barter my Google Analytics script and other JS trackers for an ASCII Art.
     Same size on the disk but many more useful I think.

WWWWWWWNNKOxxdoodxkOOOxdkKXXXKKXXXXXXNNNNXXXK0l.                                                  'd00000000000KKKXXXXXXXXXXXXXXXXKkdxkkkkkkooxO0XNNNN
WWWWWWWWWWNX0kxdodxkOOOkdx0XXXXXNNXXXKKK0000k;                                                     ;OXXXXXXKK000000000KKXXXNNXXXXKOdxkkkkkxookO0XNNNNN
MWWWWWWWWWWWWNK0OkddxOOOOxdkKXXXXK00000KKXXKc                                                      .oXXXXXXXXXXXXXXKK0000000KXXXKOdxkkkkkxodkOKXNNNNNN
MMMMWWWWWWWWWWWWX0kdooxOOOxdx0000KKXXXXXXXXd.                          ..........                   cKXXXXXXXXXXXXXXXXXXXK000OOOkdxkkkkkdodkOKNNNNNWWW
MMMMMMMMMMMMMMMMMN0xdoodkOOkddkKXNNNXNNXNNKc                    .';cldxkO0000000Okxdl:,..           .:oxkOO0KKXXXXXXXXXXXXXXXK0xoxkkkkxdoxO0KNNNWWNNWW
MMMMMMMWNWMMMMMMMWNKOxdodkOOOxdkKXNNNXX0kdl.                .,lx0KKXNWWWMMMWWWWWWWWXOkkkxo;.           .,ldxxxxkkOO0KXXXXXXKKKOdxkkkkxookO0XNNNWWNXXXN
MMMMWNXXNXXWMMWWMWNNNKkxooxOOOkdx0XX0d:..                .,oOKkdc;;;ckNWWWWWWWWWWNx,...';oO0o'           .;dkkkxxxddkXXXXKKKKOxxkkkkxodkO0XNNNWWWXNWNX
MMWNNNWMMWXXWMWWWWNNNNX0dlodkOOkdxkl.                  .:kXN0c.......:KMWWWWWWWMWNx;,;;,..lXW0l.           'okkkkkxk0XXKKKKKkxxkkkkdoxkOKXNNNWWWNNWMMW
WWNNWMMMMMNXWMMMWWWNNNNXkdxddxOOkl.                   'dXWWWx,.,lx000XWWWWWWWWWWWWWNNNNX0OKWMWXx'           ,xkkkxx0KKKKKK0kdxkkkxdlok0KNNNNWWWNXWMMMM
NNWMMWWWWMWXNMMMWWWWWWNK0K0xdoxOo.                   ,kNWMWNKOk0KXXNWMMWWWMMWWWWWWMWNXXXKKXXXWWXx'          .lkkxxOKKKKKK0xdxkkkxddxdOXNNNNWWWWXNMMMWW
WMMMNXNWWWMNNMMMWWWWWWN00NNKkdol'                   .xNWWNK0kdccclokKXWMWWWWWWWWWWNKOdcclc;:oOKNXo.         .lkxxOKKKKKK0xdxkkkxdxkOk0NNNNWWWMNXWMMWWW
MMWWNNWMWWMWNWMMMWWWWWKOXNNNXOx;                    :0WWX0kc. .:l'..ckKNWWWWWWWWWK0x; .:xc. .,dOKO:         'dxxOKKKKKKOxxkkkkddxO0K00NNNWWWMWXXMMMWWM
MWNWWNWMWWMWNWMMMMWWWN0KNNNNNX0:                    cKNKKk;':cxXNOoc:ckKNWMMWWMWKKk:;cdXWNkoc''d00d.       .cxxk0KKKK0kddkkkxddkO0XX00NNWWWMMWXNMMWWWM
WNWMWNNMWWMWNWMMMMMWWK0XNNNNXXNd.                   :KXKXo.'dXMMMMNO;.d0KWWWNKXKKXo.:ONMMMMKl..o0OO;      .cdxk0KKKK0kddxkkxdxkOKXNNK0NWWWMMMNXWMMWWWM
NWMMMNNWWWWWNNMMMMMWN0KNWWNNXXNK:         ';::,.    'OKKNd. 'OWNXNXc .xK0NNX0kkxONk. ;KWXXNO' .xK00c.'ll;;oxxk0KKKKOxdxxxxxdxO0XNNNNX0XWWMMMWXNMMMWWMM
WMMMMNNMWWWWNNMMMMMWXKNWWWNNNNNN0;      .lkOOOk:    .dKKWXl..lc,.,:;'oXKKWNXK0K0OKNx',lc'';:''dXKKKo.,xOkoldk0KKK0OddxxxxddkOKXNNNNWXKXWMMMMWXNMMWWMMM
MMMMMNNMMWWWNWMMMMMWKXWWWWNNNNNNN0c.    :kkOOOk:    .oKKXMNOl,....,lOWNKXWWWNWWNXKNWKkl;,,;cxXWXKNXkclkOOolx0KKK0kddxxxxdxk0XNNNNNNWNKKNWMMMWXWMMWWMMM
MMMMMNNMMWWWNWMMMMMNXNWWWWWWWWWWWWNx,   :kOOOOkl.  .ckKXKXWMWNKKKXNWMNKXWMWNXXNKX00NMMMWNNWWMNKKNWWXOxxxxod0KKK0xodxxxddkOKXNNNNNNWWWKKWMMMMNNWMMWWMMM
MMMMMNNWMWMWNWMMMMWXNWWWWWWWWWWWWWWWx.  .dOOOOkkdoox0XWWNXKXNWWWWWNXXKNWMMWNNNWNNXKKXXXXXXXXXXNWMWMWX0kxodO0KKOxdxxxddxO0XNNNWNNNNWWWXXWMMMMNNMMMWWMMM
MMMMMNNMMWWNXWMMMMNXWWWWWWWWWWNXKKNX:    'okkxxkOO0XWWWMMWWNXXXXXXXXNWMWWWWWWWWWMWWWWNXXXXXNWWWMWWMMWX0kxdk00kddxxdodk0KXNNNWWWNNNWWWNXWMMMMNNMMMWWMMM
MMMMWNNWWWMNXWMMMWNNMMWWWWWWNXXXNXXO'     .,cdkOO0NWMWMMMMMMMMMMMMMMWWWWWMWWWMWWWMWWWMMWWWWWWWWWWWWMWWXOOxddxoddddoxOKXNNNNWWWWXXNWWMWNWMMMWNNMMMWWMMM
MMMMWNNMMMMNNMMMMNXWMMMWWMWNXXNNWNX0,       ,xOO0XWMWMMWWWWWWWWWWWWWWWWWMWWMMWWWWWMMWWWWWWWWWWWWWWWWWMWKOOdcldddodk0KNNNNNNNWWWNNWMMMWNWMMMWNNMMMNNWMM
MMMMWNWMWWWNNMMMMNNMMMMWWNXXNXXXNNXXd.     .lOOOKWWMMMMWWWWWWWWWWWWWWWWMMWX0kxk0WWWWMMWWWWWWWWWWWWWWWWMN0OklldooxOKXNNNWNXXXNWWWMMMMMMNNMMMWNNMMMNNWMM
MMMMWNWMWWWNNMMMWXNMMMMWNXNNXXWWWNKXKl.    .dOOOXWMMMWWWWWWWWWWWWWWWWWWMNk;''..,dNWMWMMWWWWWWWWWWWWWWWMN0Okocodk0XNNNNWWNXNWNNWMMMMMMMNNMMMMNNMMMWWMMM
MMMMWWMMWMWNWMMMNXWMMMWXXWNNNXKOxdoooo;.   .oOkOKWMMMWWWWWWWWWWWWWWWWWWW0:,;;;;';OWMMWMWWMMMWWWWWWWWWWMNKOxc:ldOKXNNNNWNXXXNWNNMMMMMMMWNWMMMNNMMMMMMMM
MMMWWWMWWMNNMMMWXNMMMWXXWNNKxoc::ccccccc;'..lkOO0NMWMMWWWWWWWWWWWWWWWWWWKdc::::cdKMWWWMWWMMMWWWWWWMWWMMN0Od:::cclooxk0XNXXXXNWNWMMMMMMWNWMMMNNMMMMMMMM
MMMWWMMWWWNNMMMNXWMMWXNWKkoc:ccccccccccccclclxOOOXWMMWWMWWWWWWWWWWWWWWWWWNK0000KNWWMMWWMMMMMWWWWWMMWWMWKOxc:cccccccc:cldk0XXXWWNWMMMMMWNNMMMNNWMMMMMMM
MMMWWMWWMWNWMMWNNMMNXNXxl:cccccccccccccldk0K0xxkkOXWMWWWMWWWWWWMWWWWWWWWWWWMMMMMWWWMMWMMWMWWWWWWWWWWWWXOxooollcccccccccc:ldkXWWNNMMMMMMNNMMMWNWMMMMMMM
MMWWWMWWMNNWMMNNWMNXXOl:ccccccccccccldkKNNNNNKxxkOOKWWWWWMWWWWWWWWWWWWWWWWWWWWWWWWMMMMMMWWWWWWWWWWWWWXOxx0XXK0kxolccccccccccokXNXNMMMMMNNMMMWNNMMMMMMM
MMWWMMWWMNNMMMNNMWKOoccccccccccccclxOXNNNNNNNNXOdxkO0NWWWMWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNKkxkXNNNNNNNXOxlccccccccc:lk0XWMMMMWNWMMMNNMMMWWMM
MMWWMWWMWNWMMWNWW0dcccccccccccccld0XNNNNNNNNNNNNKkxxkOKNWWWWMWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWXOxkKNNNNNNNNNNNN0xoccccccccc:lxXMMMMWNWMMMNNWMMWWMM
MWWMMWWMNNMMMNNNkc:ccccccccccccdOXNNNNNNNNNNNNNNNNXOxddOKNWWWMWWWWWWWWWWWWWWWWWWMWWWWWWWWMMWWWWWKOkOKNNNNNNNNNNNNNNNNKxlccccccccc:dXMMMWNWMMMWNWMMWWMM
MWWMWWMWNNMMWNXkc:ccccccccccclkXNNNNNNNNNNNNNNNNNNNNNKOxxxk0XWWWWMWWWWWWWWWWWWWMMWWWWWWWMWWNXK0OO0XNNNNNNNNNNNXNNNNNNNN0dlcccccccc:oKMMWNNMMMWNWMMWWWM
WWWMWWMNNWMMN0dcccccccccccccd0NNNNNNNNNNNNNNNNNNNNNNNNNNXKOOkOO00KXXNNWWWWWWWWWWWWWWNXKK000OO0KNNNNNNNNNNNNNNNKKNNNNNNNNXklcccccccc:l0WMNNMMMMNNMMMWWM
WWMWWWWXNMMWOl:ccccccccccclxKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNK000000OOO0O000000KKK00000KXXNNNNNNNNNNNNNNNNNNNXOKNNNNNNNNNOocccccccc:ckNNXWMMMNNWMMWWM
WMMWWMNXWMM0l:ccccccccccclkXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNWWWNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN0OXNNNNNNNNN0dcccccccc::dKXWMMMWNNMMMWW
WMWWWWXNMMKollooolllcccclkXNNNNNNNNNNNNNNNNXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNWWMMMMMWWNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXO0NNNNNNNNNNKdlcccccccc:o0WMMMMNNWMMWW
MMWWMNXWMXxxkOOOOkkkkxddx0KXNNNNNNNNNNNNNNK0XNNNNNNNNNNNNNNNNNNNNNNNNNNWWMMMMMMMMWWNNNNNNNNNNNNNNNNNNNNNNNNNNNNNKkKNNNNNNNNNNKdc::cccccc;oXMMMMWXNMMWW
MWNWMXXMWkdkOkOOOOOOOOO0NX0O0NNNNNNNNNNNNXOKNNNNNNNNNNNNNNNNNNNNNNNNNNNWMMMMMMMMMMWWNNNNNNNNNNNNNNNNNNNNNNNNNNNNXO0NNNNNNNNNN0dcclooooooccOWMMMWXNMMWW
-->
