---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('{{ "assets/fonts/open-sans-v17-latin-300.woff2" | absolute_url }}') format('woff2')
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('{{ "assets/fonts/open-sans-v17-latin-regular.woff2" | absolute_url }}') format('woff2');
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('{{ "assets/fonts/open-sans-v17-latin-300italic.woff2" | absolute_url }}') format('woff2')
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('{{ "assets/fonts/open-sans-v17-latin-italic.woff2" | absolute_url }}') format('woff2');
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('{{ "assets/fonts/open-sans-v17-latin-700.woff2" | absolute_url }}') format('woff2');
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('{{ "assets/fonts/open-sans-v17-latin-700italic.woff2" | absolute_url }}') format('woff2');
}
* { box-sizing: border-box; }
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.55;
}
h1,
h2.post-title {
  font-size: 1.5em;
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  font-weight: 300;
}
h3 {
  font-size: 1.3em;
  font-weight: 300;
}
